/************* Responsive Navbar ************/

#navbar .logo{
  float:none;
  text-align: center;
}
/* this code here will not override the code in the 
style sheet because we specified there also the ul 
so if we want to override the code there 
we must also specifiy the ul  */

/* #navbar ul, #navbar li{ */

#navbar ul, #navbar ul li{
  float: none;
}

#navbar ul li a {
  padding:5px;
  border-bottom:#444 dotted 1px;
}

/************* Home Info Section ************/

#home-info .info-img{
  display: none;
}
#home-info .info-content{
  float: none;
  width: 100%;
  

}

/************* Features Section Boxes************/
.box{
  float: none;
  width:100%;
}

/************ About Page ***********/
#about-info .info-right,
 #about-info .info-left{
  float: none;
  width:100%;
}
.l-heading{
  text-align: center;
}

#about-info .info-right{
  margin-top: 30px;
}

/* ************** Contact ********* */

#contact-info .box{
border-bottom: #444 dotted 1px;
}

/* *********** Showcase  ************ */
 #showcase{
  height:100%;
} 
#showcase .showcase-content{
  padding-top:70px;
  padding-bottom: 30px;
} 